.first {
    @include pc {
        height: 800px;
        position: relative;
    }
    @include tab {
        height: 700px;
        background-image: url(../img/6.png);
        background-repeat: no-repeat;
        background-size: 130%;
        overflow: hidden;
    }
    &__wrap {
        display: flex;
        @include pc {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
        @include tab {
            height: 100%;
            justify-content: center;
            align-items: center;
        }
        &__content {
            margin: auto;
            text-align: center;
            display: flex;
            flex-direction: column;
            @include pc {
                justify-content: space-between;
                width: 50%;
                height: 200px;
            }
            @include tab {
                width: 80%;
                
            }

            p:nth-child(1) {
                font-size: 4rem;
                font-family: 'ヒラギノ明朝 Pro';
                @include tab {
                    order: 1;
                    color: white;
                }
            }
            p:nth-child(2) {
                font-size: 4.5rem;
                font-family: Zapfino;
                @include tab {
                    order: 0;
                    color: white;
                    white-space: nowrap;
                    line-height: 95px;
                }
            }

        }
        &__img {
            @include pc {
                width: 50%;
                height: 100%;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            @include tab {
                display: none;
            }
        }
    }
}